* {
  margin: 0;
  padding: 0;
}
.bg {
background-color: #80cdc6;
width: 600px;
height: 500px;
}
.clouds {
left: 230px;
top: 0;
position: absolute;
width: 300px;
z-index: 2;
}
.wooden-ship {
width: 114px;
position: absolute;
top: 345px;
left: 22px;
z-index: 3; 
}
.water {
position: absolute;
top: 450px;
z-index: 4;
width: 600px;
}
.world {
top: 124px;
position: absolute;
z-index: 1;
width: 600px;
}
